@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

header nav {
    /* border: 2px solid black; */
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: D9D9D9;
    font-family: "Wix Madefor Display", sans-serif;

}

nav .f1 img {
    height: 94px;
    width: 91px;
    object-fit: contain;
    position: 57px 6px;

}

nav .f1 {
    display: flex;
    align-items: center;
    gap: 23px;
    /* border: 1px solid black; */
    text-align: center;
    width: 280px;
}

nav .f2 ul {
    display: flex;
    list-style: none;
    gap: 130px;

}

.f2 ul li {
    font-family: "Wix Madefor Display", sans-serif;
}

.f2 ul li a {
    text-decoration: none;
    color: black;
}

.btn,
.Appointment {
    border: none;
    border-radius: 18px;
    color: white;
    height: 50px;
    width: 180px;
    background-color: #C11675;
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.container {
    /* border: 2px solid black; */
    height: 725px;
    width: 88vw;
    
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .box {
    
    height: 50%;
    width: 50%;
}

.container .box1 {
    height: 480px;
    width: 454px;
    
}

.container .box2 {
    /* border: 2px solid black; */
    
    height: 665px;
    width: 818px;
}

.container .box1 .text {
    margin-top: 34px;
}

.container .box1 .text1 {
    font-size: 16px;
}

.container .box1 .text2 {
    font-size: 49px;


}

.container .box1 .text3 {
    font-size: 14px;
}

.container .box1 .text4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 140px; */
    /* margin: 40px; */
}

.container .box1 .text4 .bt {
    border: none;

}

.container .box1 .text4 .on {
    border: none;
    border-radius: 18px;
    color: white;
    height: 50px;
    width: 180px;
    background-color: #C11675;
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 3px 3px 9px 1px #3b3b3b;
    cursor: pointer;
}

/* .on , .Appointment:hover{
    background: linear-gradient (90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    
}

.on , .Appointment:hover::before{
content: '';

position: absolute; 

background: inherit;

/* top: -5px;

right: -5px;

bottom: 5px;

left: -5px; */

/* border-radius: 50px;

filter: blur (20px);

/* opacity: 0; */
/* 
transition: opacity 0.5s;
} */

.container .box1 .text4 .tw {
    text-decoration: underline;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2 .circle{
    position: relative;
    height: 557px;
    width: 813px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 330px;
    background-image: linear-gradient(to bottom, #C1DFDE, #219D96, #144854, #022220);
    background-size: cover;
}
 .box2 .circle img{
    position: absolute;
    width:502px;
    height: auto;
    border: none;
    object-fit: cover;
    border-radius: 20%;
}

.foot{
    /* border: 2px solid black; */
    height: 20vh;
    width:80vw ;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: #accdee;
}
.foot .one{
    width: 334px;
}
.foot .o{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    font-weight: bolder;
}
.email{
    width: auto;
    padding-bottom: 50px;
}
.teliphone{
    padding-bottom: 50px;
}
.foot .one span{
    font-size: 23px;
}































